::-webkit-scrollbar {
	width: 0;
}

html{
	scroll-behavior: smooth;
  
}


body {
	overflow-y: scroll;
	  scroll-snap-type: y mandatory;
	height: 100hv;
	
}

section {
	height: 100vh;
	overflow: hidden;
	margin:100px;
	scroll-snap-align: center;
}

#scrollPath{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}
#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: linear-gradient(to top,#008aff,#00ffe7);
	animation: animate 5s linear infinite;
}

@keyframe animate 
{
	0%,100%
	{
		filter: hue-rotate(0deg);
			}
	50% {
		filter: hue-rotate(360deg);
	}
}