/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .block1 {
        height: 40%;
        z-index: 4;
        /**/
        position: absolute;
        width: 60%;
        left: 33%;
        display: inline-table;
        align-items: center;
    }
    .block1 .block1_text_cont {
        height: 100%;
    }
    .block1 .job {
        font-size: 40px;
    }
    .block1 .block1_links {
        width: 30%;
    }
    .block1_links {
        display: flex;
    }
    .fab {
        font-size: 25px;
        line-height: 35px;
    }
    .block1 .block_link_a {
        position: relative;
        transition: 1s;
        display: block;
        width: 35px;
        height: 35px;
        color: var(--bk1);
        text-align: center;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 2px 3px var(--white)
    }
    .project_name {
        width: 90%;
        margin-left: 5%;
    }
    .project_main {
        height: 70%;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .navbar {
        justify-content: right;
    }
    .hamburger {
        margin-right: 15px;
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg);
    }
    .nav-ul {
        border: 0;
        position: fixed;
        top: -200%;
        gap: 0;
        height: 100%;
        display: block;
        border-radius: 0px;
        background-color: var(--bk1);
        width: 100%;
        text-align: center;
        transition: 0.7s;
    }
    .nav-item:nth-child(1) {
        margin-top: 50px;
    }
    .nav-item {
        margin-top: 25px;
    }
    .nav-ul.active {
        top: 0;
        width: 100%;
    }
    .navbar.active {
        transition: 0.7s;
        background-color: var(--bk1);
    }
    .fab {
        font-size: 25px;
        line-height: 35px;
    }
    .block1 .block_link_a {
        position: relative;
        transition: 1s;
        display: block;
        width: 35px;
        height: 35px;
        color: var(--bk1);
        text-align: center;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 2px 3px var(--white)
    }
    .block1 {
        height: 40%;
        z-index: 4;
        /**/
        position: absolute;
        width: 60%;
        left: 24%;
        display: inline-table;
        align-items: center;
    }
    .block1 .block1_text_cont {
        height: 90%;
    }
    .block1_links {
        display: flex;
    }
    .block1 .job {
        font-size: 30px;
    }
    .block1 .block1_links {
        width: 40%;
    }
    .block1_container h1 {
        font-size: 50px;
    }
    .block1 .hello {
        font-size: 30px;
    }
    .block1_links {
        display: flex;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: right;
    }
    .hamburger {
        margin-right: 15px;
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg);
    }
    .nav-ul {
        border: 0;
        position: fixed;
        top: -200%;
        gap: 0;
        height: 100%;
        display: block;
        border-radius: 0px;
        background-color: var(--bk1);
        width: 100%;
        text-align: center;
        transition: 0.7s;
    }
    .nav-item:nth-child(1) {
        margin-top: 50px;
    }
    .nav-item {
        margin-top: 25px;
    }
    .nav-ul.active {
        top: 0;
        width: 100%;
    }
    .navbar.active {
        transition: 0.7s;
        background-color: var(--bk1);
    }
    .fab {
        font-size: 25px;
        line-height: 35px;
    }
    .block1 {
        height: 40%;
        z-index: 4;
        /**/
        position: absolute;
        width: 60%;
        left: 26%;
        display: inline-table;
        align-items: center;
    }
    .block1 .block1_text_cont {
        height: 70%;
    }
    .block1 .job {
        font-size: 23px;
    }
    .block1 .block1_links {
        width: 40%;
    }
    .block1_container h1 {
        font-size: 40px;
    }
    .block1 .hello {
        font-size: 30px;
    }
    .fab {
        font-size: 20px;
        line-height: 30px;
    }
    .block1 .block_link_a {
        position: relative;
        transition: 1s;
        display: block;
        width: 30px;
        height: 30px;
        color: var(--bk1);
        text-align: center;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 2px 3px var(--white)
    }
    .block1_links {
        display: flex;
    }
}


/* font awesome download */


/* Extra Small Devices, Phones */

@media only screen and (max-width: 500px) {
    .navbar {
        justify-content: right;
    }
    .hamburger {
        margin-right: 15px;
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg);
    }
    .nav-ul {
        border: 0;
        position: fixed;
        top: -200%;
        gap: 0;
        height: 100%;
        display: block;
        border-radius: 0px;
        background-color: var(--bk1);
        width: 100%;
        text-align: center;
        transition: 0.7s;
    }
    .nav-item:nth-child(1) {
        margin-top: 50px;
    }
    .nav-item {
        margin-top: 25px;
    }
    .nav-ul.active {
        top: 0;
        width: 100%;
    }
    .navbar.active {
        transition: 0.7s;
        background-color: var(--bk1);
    }
    .fab {
        font-size: 25px;
        line-height: 35px;
    }
    .block1 {
        height: 40%;
        z-index: 4;
        /**/
        position: absolute;
        width: 80%;
        left: 15%;
        display: inline-table;
        align-items: center;
    }
    .block1 .block1_text_cont {
        height: 70%;
    }
    .block1 .job {
        font-size: 20px;
    }
    .block1 .block1_links {
        width: 40%;
    }
    .block1_container h1 {
        font-size: 35px;
    }
    .block1 .hello {
        font-size: 25px;
    }
    .fab {
        font-size: 15px;
        line-height: 25px;
    }
    .block1_links {
        display: flex;
        width: auto;
    }
    .block1 .block_link_a {
        position: relative;
        transition: 1s;
        display: block;
        width: 25px;
        height: 25px;
        color: var(--bk1);
        text-align: center;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 2px 3px var(--white)
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .navbar {
        justify-content: right;
    }
    .hamburger {
        margin-right: 15px;
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg);
    }
    .nav-ul {
        border: 0;
        position: fixed;
        top: -200%;
        gap: 0;
        height: 100%;
        display: block;
        border-radius: 0px;
        background-color: var(--bk1);
        width: 100%;
        text-align: center;
        transition: 0.7s;
    }
    .nav-item:nth-child(1) {
        margin-top: 50px;
    }
    .nav-item {
        margin-top: 25px;
    }
    .nav-ul.active {
        top: 0;
        width: 100%;
    }
    .navbar.active {
        transition: 0.7s;
        background-color: var(--bk1);
    }
    .fab {
        font-size: 25px;
        line-height: 35px;
    }
    .block1 {
        height: 40%;
        z-index: 4;
        /**/
        position: absolute;
        width: 90%;
        left: 10%;
        display: inline-table;
        align-items: center;
    }
    .block1_links {
        display: flex;
        width: auto;
    }
    .block1 .block1_text_cont {
        height: 50%;
    }
    .block1 .job {
        font-size: 15px;
    }
    .block1 .block1_links {
        width: 40%;
    }
    .block1_container h1 {
        font-size: 25px;
    }
    .block1 .hello {
        font-size: 15px;
    }
    .fab {
        font-size: 15px;
        line-height: 25px;
    }
    .block1 .block_link_a {
        position: relative;
        transition: 1s;
        display: block;
        width: 25px;
        height: 25px;
        color: var(--bk1);
        text-align: center;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 2px 3px var(--white)
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .block_link_a:hover {
        transition: 1s;
        transform: translate(0, -10px);
    }
    .tg:hover {
        color: #0088cc;
    }
    .inst:hover {
        color: #c32aa3;
    }
    .git:hover {
        color: var(--pink);
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .block1 {
        height: 42%;
        z-index: 4;
        position: absolute;
        width: 40%;
        left: 33%;
        display: inline-table;
        align-items: center;
    }
    .block1_links {
        transition: 1s;
        height: 30%;
        width: 33%;
        display: flex;
    }
    .block1 .job {
        font-size: 45px;
    }
    .fab {
        font-size: 30px;
        line-height: 40px;
    }
    .block1 .block_link_a {
        position: relative;
        transition: 1s;
        display: block;
        width: 40px;
        height: 40px;
        color: var(--bk1);
        text-align: center;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: 0 2px 3px var(--white)
    }
    .block_link_a:hover {
        transition: 1s;
        transform: translate(0, -10px);
    }
    .tg:hover {
        color: #0088cc;
    }
    .inst:hover {
        color: #c32aa3;
    }
    .git:hover {
        color: #6e5494;
    }
}